$desktop-width: 624px;
$mobile-only: 600px;
$height: 100%;
$width: 100%;
$max-width: 1104px;

body {
  background-color: $background-white;
  color: $body-color;
  font-family: $body;
  height: $height;
  line-height: $line-height-base;
  width: $width;
}

a {
  color: $body-color;
}
