$desktop-width: 620px;
$mobile-only: 600px;
$height: 100%;
$width: 100%;
$max-width: 1100px;

body {
  background-color: $background-white;
  color: $body-color;
  font-family: $lora;
  height: $height;
  line-height: 1.5;
  margin: 0;
  width: $width;
}

a {
  color: $body-color;
}
