$gradient1: #5a0d11;
$star-color: #a00101;
$gradient2: #2a3555;
$poster-bg: #1b2136;
$poster-heading: #c2c2c2;
$white: #fff;
$background-white: #f4f3f1;
$hover-me: #8a3b58;
$nav-link-color: #6534ff;
$toggler-color: #aaaaaa;