.header,
.home,
.videos,
video {
    overflow : hidden;
}


.list-items-top {
    text-align : center;
}

.navigation-area .individual-list-item {
    display : inline-block;
}

.active {
    border-bottom : 2px solid #ff5a84;
}

.home p {
    margin : 0;
}

.btn {
    display : inline-block;
    padding : 0.8em 1.1em;
    cursor : default;
    text-decoration : none;
    color : #fff;
    outline : 0;
}

/*
career section
 */

.career {
    display : none;
}

.header {
    position : relative;
    top : 25px;
    height : 50px;
}

.circle {
    position : relative;
    top : 10px;
    width : 25px;
    height : 25px;
    border-radius : 50%;
    background : #7d47f5;
}

.employment {
    position : absolute;
    top : 2px;
    left : 35px;
}

.career-progress {
    position : relative;
    margin : 0 0 0 12px;
    padding : 20px;
    list-style : none;
    border-left : 1px solid #7d47f5;
}

.job {
    position : relative;
    margin : 25px 0 20px 0;
    padding-bottom : 15px;
    border-bottom : 1px solid rgba(160, 160, 160, 0.2);
}

.title,
.elevator {
    color : #7d47f5;
}

.company-location,
.languages {
    color : #acacb3;
}

.company-location,
.languages,
.elevator {
    font : 1.2rem 'Nunito', sans-serif;
}

.job:last-of-type {
    margin-bottom : 60px;
    border : none;
}

.job::before,
.job::after {
    position : absolute;
    top : 0;
    display : block;
}

.job::before {
    left : -177.5px;
    min-width : 120px;
    text-align : right;
}

.job::after {
    top : 5px;
    left : -26px;
    width : 11px;
    height : 11px;
    content : '';
    border-radius : 50%;
    background : #7d47f5;
}

/* instagram page */

.insta {
    padding-bottom : 100px;
}

.insta-heading-contact {
    position : relative;
    top : 15px;
    padding : 10px;
    border-left : 5px solid #ff5a84;
}

.insta-heading-contact::before {
    position : absolute;
    bottom : 0;
    left : 0;
    width : 200px;
    content : '';
    border-bottom : 5px solid #ff5a84;
}

.insta-header {
    position : relative;
    top : 10px;
    box-sizing : border-box;
    min-height : 1rem;
    margin : 0 auto;
}

.insta-heading {
    padding : 10px;
}

.mobile-insta {
    position : relative;
    top : 5px;
}

.insta-home-image {
    text-align : center;
}

.circle-image {
    position : relative;
    width : 150px;
    height : 150px;
    border-radius : 100%;
}

.insta-username-heading-contact {
    position : relative;
    top : 15px;
    padding : 10px;
    text-align : end;
    border-right : 5px solid #ff5a84;
}

.insta-username-heading-contact::before {
    position : absolute;
    top : 0;
    right : 0;
    width : 200px;
    content : '';
    border-bottom : 5px solid #ff5a84;
}

.insta-username-heading {
    padding : 10px;
}

.instaphotos {
    display : -ms-flexbox;
    display : flex;
        flex-direction : row;
    max-width : 1100px;
    padding-top : 30px;

    align-content : stretch;
    -ms-flex-direction : row;
    -ms-flex-line-pack : stretch;
    -ms-flex-pack : start;
    -ms-flex-wrap : wrap;
        flex-wrap : wrap;
    justify-content : flex-start;
}

.instaphotos a {
    position : relative;
    display : block;
    width : calc(100%/3);

    -ms-flex : 0 0 auto;
        flex : 0 0 auto;
}

.instaphotos img {
    display : block;
    width : 100%;
}

/*-- videos here --*/

.slide {
    position : absolute;
    width : 100%;
    height : 100%;
    transition : 1s opacity;
    opacity : 0;
}

.slide:nth-of-type(1) {
    background : url(../img/waterplanes.png) no-repeat center center fixed;
    background-size : cover;
}

.slide:nth-of-type(2) {
    background : url(../img/raincouver.png) no-repeat center center fixed;
    background-size : cover;
}

.slide:nth-of-type(3) {
    background : url(../img/bcplacedark.png) no-repeat center center fixed;
    background-size : cover;
}

.slide:nth-of-type(4) {
    background : url(../img/pcplacelight.png) no-repeat center center fixed;
    background-size : cover;
}

.slide:nth-of-type(5) {
    background : url(../img/web-header.png) no-repeat center center fixed;
    background-size : cover;
}

.slide:nth-of-type(6) {
    background : url(../img/waterfall-behind.jpg) no-repeat center center fixed;
    background-size : cover;
}

.slide:nth-of-type(7) {
    background : url(../img/large-waterfall.jpg) no-repeat center center fixed;
    background-size : cover;
}

video {
    position : absolute;
    z-index : 2;
    top : 50%;
    left : 50%;
    height : 100vh;
    -webkit-transform : translate(-50%, -50%) scale(1);
            transform : translate(-50%, -50%) scale(1);
}

.slide.show {
    position : relative;
    transition : 1s opacity;
    opacity : 1;
}

.slide-header {
    position : relative;
    z-index : 4;
    height : 60px;
    text-align : center;
    background : linear-gradient( rgba(0,0,0,0.75), rgba(0,0,0,0.75));
}

.slide-number,
.slide-title {
    display : inline-block;
    color : #ff5a84;
}

.slide-title {
    color : #fff;
}

.slide-title {
    padding-left : 15px;
}

.vid1 {
    -webkit-transform : translate(-50%, -60%) scale(1);
            transform : translate(-50%, -60%) scale(1);
}

.vid3 {
    -webkit-transform : translate(-40%, -50%) scale(1);
            transform : translate(-40%, -50%) scale(1);
}

.vid6,
.vid7 {
    top : 60%;
    left : 50%;
    height : 121vh;
    -webkit-transform : translate(-60%, -60%) scale(1);
            transform : translate(-50%, -60%) scale(1);
}

.directional_nav {
    position : relative;
    z-index : 3;
    bottom : 50%;
    height : 40px;
}

.previous,
.next {
    position : absolute;
    top : 0;
    bottom : 0;
    width : 40px;
    height : 40px;
    margin : auto;
    cursor : pointer;
    border-radius : 100%;
    background : #ff5a84;
}

.previous {
    left : 10px;
}

.next {
    right : 10px;
}

/* Responsive css here */
@media screen and (min-height: 1024px) {
    .main-container {
        margin : 10% auto;
    }
}
@media only screen and (max-width: 768px) {
    .main-container {
        width : 98%;
        margin : 10% auto;
    }

    .circle-image {
        width : 120px;
        height : 120px;
    }
}
/*iphone 6s + bigger screens on mobile starting at 435 rather than 375  */
@media only screen and (max-width: 435px) {
    .main-container {
        width : 96%;
        height : 100%;
        max-height : 530px;
        border-radius : 4px;
        background : #fff;
    }
    .image-area {
        display : none;
    }
    .genre-content {
        overflow : scroll;
        height : 100%;
        padding : 0;
    }
    .main-area {
        overflow : hidden;
    }
    .sub-area {
        width : 100%;
    }
    .image-area {
        display : none;
    }
    .navigation-area-mobile {
        position : absolute;
        z-index : 4;
    }
    .overlay-menu {
        top : 50px;
    }
    .insta {
        height : 100%;
    }
    .instaphotos a {
        width : 100%;
    }
    .insta-username-heading-contact::before {
        width : 180px;
    }
    .insta-username-heading-contact {
        top : 5px;
        padding : 10px 0;
        text-align : start;
    }
    .circle-image {
        width : 80px;
        height : 80px;
    }
    .hide-xs {
        display : none !important;
    }
    .slide-title {
        padding-left : 10px;
    }
}
/* 5 - 6+ */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 736px)
and (orientation : landscape) {
    .main-container {
        margin : 0 auto;
    }
    .text-area {
        width : 75%;
        padding : 30px 0 0 30px;
    }
    .image-area {
        width : 25%;
    }
    .hide-xs-side {
        display : none;
    }
    .border {
        position : relative;
        top : -webkit-calc(50% - 32%);
        top :    -moz-calc(50% - 32%);
        left : 0;
        width : 100%;
        height : 90%;
    }
    .text-area-content,
    .home-contact,
    .work-area {
        top : 5px;
        padding : 5px;
    }
    .name-city {
        margin : 0 0 10px;
    }
    .underline {
        padding : 0 0 0 20px;
    }
    .navigation-area-mobile {
        z-index : 5;
        opacity : 1;
    }
    .open .overlay-menu {
        text-align : center;

        justify-content : space-around;
    }
    .insta {
        padding-bottom : 10px;
    }
    .insta-home-image {
        text-align : left;
    }
}
/* --animation keyframes here -- */
@keyframes menuFade {
    0% {
        left : -25%;
        opacity : 0;

        filter : alpha(opacity=0);
    }

    100% {
        left : 0;
        opacity : 1;

        filter : alpha(opacity=100);
    }
}
