$footer-height: 80px;

footer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  justify-content: center;
  width: $width;
}

.footer > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  li {
    list-style: none;

    a {
      background: url('../img/yin_yang.svg') center left no-repeat;
      color: $nav-link-color;
      padding: 10px 40px;
    }
  }
}
