$code-are-bg: #343267;
$css-color: #aed581;
$keyframe-color: #7aa1f6;
$html-color: #c75c8a;
$label-width: 60px;

.code-container,
pre {
  box-sizing: border-box;
  width: $width;
}

.code-container {
  display: flex;
  flex-flow: row wrap;
}

pre {
  background-color: $code-are-bg;
  font-family: $ubuntu;
  overflow: auto;
  white-space: pre;
  word-wrap: break-word;
}

.code {
  border-radius: 4px;
  margin: 0 0 20px;
  position: relative;

  label {
    color: $background-white;
    font-size: $font-size-base;
    font-weight: bold;
    left: 1px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 15px;
    width: $label-width;
  }

  code {
    border-left: 1px solid $grey;
    display: block;
    font-size: $font-size-base;
    line-height: 19px;
    margin: 0 0 0 $label-width;
    padding: 15px;
    white-space: pre-wrap;

    &.no-padding {
      margin: 0;
    }
  }
}

.code-css {
  color: $css-color;
}

.code-html {
  color: $html-color;
}

.keyframe {
  color: $keyframe-color;
}
