$star-font-family: entypo, sans-serif;
$star-color: #f61f1e;
$star-size: $h6;
$star-container-width: 50%;
$star-padding: 8px;

.star-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;

  &::before,
  &::after {
    background-color: $star-color;
    content: '';
    height: 1px;
    width: $star-container-width;
  }

  &::before {
    margin-left: -$star-container-width;
    right: $star-padding;
  }

  &::after {
    left: $star-padding;
    margin-right: -$star-container-width;
  }
}

.stars {
  color: $star-color;
  padding: 0 $star-padding;

  &::before {
    content: '\2605';
    font-family: $star-font-family;
    font-size: $star-size;
  }

  &:checked ~ ::before {
    content: '\2606';
  }

  &:focus {
    outline: 0;
  }
}

