$container-height: 600px;
$container-padding: 20px;

.container {
  display: flex;
  flex-flow: row wrap;
  height: $container-height;
  justify-content: flex-start;
  margin: auto;
  padding: $container-padding;
  width: $width;
}
