$cv-line-width: 1px;
$cv-position-top: 4px;
$cv-position-left: -4.5px;
$cv-padding: 0 12px;
$cv-max-width: 648px;
$cv-dot-size: 10px;
$cv-dot-position-top: 4px;
$cv-dot-position-left: -9px;
$job-margin-bottom: 24px;
$job-padding: 12px;
$role-padding: 6px;
$role-margin-bottom: 12px;
$role-dot-top: 2px;

.cv-list,
.cv-overflow,
.cv-wrapper,
.job-info,
.role-wrapper,
.role-info,
.role {
  display: flex;
  flex-flow: row wrap;
  width: $width;
}

.job-info,
.role-info,
.cv-list {
  position: relative;
}

.job-info,
.role-info {

  &::before {
    background-color: $nav-link-color;
    border-radius: 50%;
    content: '';
    height: $cv-dot-size;
    left: $cv-dot-position-left;
    position: absolute;
    top: $cv-dot-position-top;
    width: $cv-dot-size;
    z-index: 2;
  }
}

.cv-wrapper {
  margin: 0 auto;
  max-width: $cv-max-width;
  padding: $cv-padding;
}

.cv-list {
  list-style: none;
  margin: 0;
  width: $width;

  &::after {
    border-left: $cv-line-width solid $grey;
    bottom: 0;
    content: '';
    height: calc(#{$height} - #{$cv-position-top});
    left: $cv-position-left;
    position: absolute;
    top: $cv-dot-position-top;
  }
}

.job-info {
  margin: 0 0 $job-margin-bottom;
  padding-left: $job-padding;

  &:last-child {
    margin-bottom: 0;
  }

  .job-title,
  .location,
  .company,
  .job-desc {
    width: $width;
  }

  .location,
  .company {
    color: $grey;
  }

  .job-title {
    color: $nav-link-color;
    order: 1;
  }

  .company {
    align-items: center;
    order: 2;
  }

  .location {
    order: 3;
    padding: 0;
  }

  .job-desc {
    order: 4;
  }
}

.role-wrapper {
  order: 5;
  padding: $cv-padding;
}

.role-info {
  margin: 0;
  width: $width;

  &::before {
    height: $cv-dot-size / 2;
    top: $cv-dot-size / 2;
    width: $cv-dot-size / 2;
  }
}

.role {
  padding-left: $role-padding;
}
