$blurb-padding: 10px 5px;
$blurb-max-width: 640px;
$blurb-line-height: 2px;
$blurb-line-width: 60px;
$spacer: 1rem;
$blurb-bottom-line-margin: ($spacer / 2);

.blurb-wrapper,
.blurb,
.sub-blurb {
  box-sizing: border-box;
}

.blurb-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 20px;
  max-width: $blurb-max-width;
  padding: $blurb-padding;
  position: relative;

  &::after {
    background-color: $nav-link-color;
    content: '';
    display: block;
    height: $blurb-line-height;
    margin: $blurb-bottom-line-margin auto 0;
    width: $blurb-line-width;
  }
}

.blurb,
.sub-blurb {
  box-sizing: border-box;
  font-family: $lora;
  text-align: center;
  width: $width;
}

.blurb {
  line-height: 1.6;

  &::first-letter {
    color: $nav-link-color;
    font-size: $h2;
    line-height: 1;
    padding-right: 1px;
  }
}
