
.svg-wrap {
  animation: fadeIn ease-in-out .1s forwards 1s;
  display: flex;
  height: 100%;
  opacity: 0;
  position: relative;
  width: 100%;
}

.insta,
.tutorial {
  background-blend-mode: screen;
}

.insta {
  background: url("/img/bg16.jpg") #c6b4ff center center/cover no-repeat;
}

.tutorial {
  background: url("/img/bg2.jpg") #c6b4ff center center/cover no-repeat;
}

.cv {
  background: url("/img/bg52.jpg") #c6b4ff center center/cover no-repeat;
  background-blend-mode: color-dodge;
}

@media (max-width: 624px) {
  .svg--lg {
    display: none;
  }
}
@media (min-width: 625px) {
  .svg--sm {
    display: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    top: -5%;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
