.svg-wrap {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.insta,
.tutorial {
  background-blend-mode: screen;
}

.insta {
  background: url("https://Andrewrock.github.io/img/bg16.jpg") #c6b4ff center center/cover no-repeat;
}

.tutorial {
  background: url("https://Andrewrock.github.io/img/bg2.jpg") #c6b4ff center center/cover no-repeat;
}

.cv {
  background: url("https://Andrewrock.github.io/img/bg52.jpg") #c6b4ff center center/cover no-repeat;
  background-blend-mode: color-dodge;
}

@media (max-width: 624px) {
  .svg--lg {
    display: none;
  }
}
@media (min-width: 625px) {
  .svg--sm {
    display: none;
  }
}
