$hero-bg: #c6b4ff;

header {
  align-items: center;
  background: url('https://Andrewrock.github.io/img/bg7.jpg') $hero-bg center center / cover no-repeat;
  background-blend-mode: screen;
  display: flex;
  height: 288px;
  justify-content: center;
  margin-bottom: 24px;
  position: relative;
  transition: background .25s ease-in-out;
  width: $width;
}

.spikes {
  bottom:0;
  fill: $background-white;
  height: 72px;
  position: absolute;
  transition: background-color 2s ease;
  width: $width;
}

.svg-wrap {
  display: flex;
  height: $height;
  position: relative;
  width: $width;
}

.insta,
.tutorial {
  background-blend-mode: screen;
}

.insta {
  background: url('https://Andrewrock.github.io/img/bg16.jpg') $hero-bg center center / cover no-repeat;
}

.tutorial {
  background: url('https://Andrewrock.github.io/img/bg2.jpg') $hero-bg center center / cover no-repeat;
}

.cv {
  background: url("https://Andrewrock.github.io/img/bg52.jpg") $hero-bg center center / cover no-repeat;
  background-blend-mode: color-dodge;
}

@media (max-width: 624px) {
  .svg--lg {
    display: none;
  }
}
@media (min-width: 625px) {
  .svg--sm {
    display: none;
  }
}
