<div class="blurb-wrapper">
  <h2 class="blurb">
    Graduated a Business Analyst, currently disguised as a web developer
  </h2>
</div>
<div class="cv-wrapper">
  <ul class="cv-list">
    {% for nav in site.data.jobs %}
    {% if nav.subcategories != null %}
    <li class="job-info">
      <h4 class="job-title"> {{ nav.title }} </h4>
      <h5 class="company"> {{ nav.company }} </h5>
      <h6 class="location"> {{ nav.location }} </h6>
      <p class="job-desc">  {{ nav.description }}</p>
      <ul class="role-wrapper">
        {% for subcategory in nav.subcategories %}
        <li class="role-info">
          <p class="role">
            {{ subcategory.subtitle }}
          </p>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>