<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Ubuntu']
    }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();

//  var cb = function() {
//    var l = document.createElement('link'); l.rel = 'stylesheet';
//    l.href = '/css/style.css';
//    var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
//  };
//  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
//          webkitRequestAnimationFrame || msRequestAnimationFrame;
//  if (raf) raf(cb);
//  else window.addEventListener('load', cb);
</script>

</body>
</html>