<!doctype html>
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <title> {{ page.title }} </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Favicons -->
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="{{ site.data.global.url }}/favicon.ico">
  <!-- Styles -->
  <!-- Critical CSS -->
  <style>
    html,body,div,ul,li,nav{border:0;margin:0;padding:0;vertical-align:baseline}*{box-sizing:border-box;text-rendering:optimizeLegibility}nav{display:block}ul{list-style:none}nav{padding:12px}.nav-svg{fill:#6534ff;height:40px;width:40px}nav,.nav-wrapper,.socials,.social{display:flex}nav,.nav-wrapper{width:100%}.socials{align-items:baseline;justify-content:flex-start;padding:0}.nav-wrapper{align-items:center;flex-flow:row wrap;justify-content:flex-start;list-style:none}.socials{flex:1 1 100%;flex-flow:row nowrap;justify-content:flex-start;margin:0 0 24px}@media screen and (min-width:624px){.nav-wrapper{max-width:1200px}.nav-wrapper>ul li{align-items:center}.socials{align-items:stretch;height:100%}.socials{flex:1 1 20%;justify-content:space-around;margin:0}svg{fill:#fff;}}
  </style>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

