<!doctype html>
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <title> {{ page.title }} </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Favicons -->
  <!-- Styles -->
  <style>
    body{background-color:#f4f3f1;color:#282828;font-family:'Lora',serif;height:100%;line-height:1.5;width:100%}a{color:#282828}header{align-items:center;background:url("https://Andrewrock.github.io/img/bg7.jpg") #c6b4ff center center/cover no-repeat;background-blend-mode:screen;display:flex;height:288px;justify-content:center;margin-bottom:24px;position:relative;transition:background .25s ease-in-out;width:100%}header svg{bottom:0;fill:#f4f3f1;height:72px;position:absolute;transition:background-color 2s ease;width:100%}.home-posts,.post-wrapper,.post-container,.post,.post-body,.post-content,.post-icon{display:flex}.home-posts,.post-wrapper,.post-footer{width:100%}  </style>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="{{ site.data.global.url }}/favicon.ico">
</head>
<body>
