<!doctype html>
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <title> {{ page.title }} </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Favicons -->
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="{{ site.data.global.url }}/favicon.ico">
  <!-- Styles -->
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lora|Source+Code+Pro:300|Ubuntu" rel="stylesheet">
</head>
<body>
