{% if page.padding != null %}
<div class="tutorial-container no-padding">

  {% else %}
    <div class="tutorial-container">
{% endif %}

    <div class="blurb-wrapper">
      <h2 class="blurb"> {{ page.title }} </h2>
      <h5 class="sub-blurb"> {{ page.lead_text }} </h5>
    </div>

    {% if page.definition != null %}
    <div class="tutorial-definition-wrapper">
      <p>
        "{{ page.definition }}"
        <a href='{{page.definition-link}}' class="tutorial-link"> -{{page.definition-source}} </a>
      </p>
    </div>

    {% endif %}


      <!--this is closed in tutorial.html -->