$nav-width: 1200px;
$nav-social-width: 33%;
$nav-menu-width: 80%;
$nav-social-icons-width-height: 40px;
$nav-link-width: 90px;

.nav-wrapper {
  max-width: $nav-width;
}

.nav-wrapper>ul {
  align-items: stretch;
  height: $height;
}

.nav-wrapper > ul li {
  align-items: center;
}

.socials {
  flex: 1 1 20%;
  justify-content: space-around;
  margin: 0;
}

.topics {
  flex: 1 1 80%;
  justify-content: flex-end;
}

.topics > li {

  &:last-of-type {
    a {
      padding: 0 $nav-link-divide-padding 5px;
    }
  }
}



