$nav-padding: 12px;
$nav-social-icons-width-height: 40px;
$nav-social-icon-width: 33%;
$nav-link-line-height: 2;
$nav-link-divide-padding: 6px;

nav {
  padding: 12px;
}

.nav-svg {
  fill: $nav-link-color;
  height: 40px;
  width: 40px;
}

nav,
.nav-wrapper,
.socials,
.topics,
.social {
  display: flex;
}

nav,
.nav-wrapper,
.topics {
  width: $width;
}

.socials,
.topics {
  align-items: baseline;
  justify-content: flex-start;
  padding: 0;
}

.nav-wrapper {
  align-items: center;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
}

.socials {
  flex: 1 1 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0 0 24px;
}

.topics {
  flex: 1 1 100%;
  flex-flow: row wrap;
  text-align: center;
}

.topics > li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  &:not(:last-of-type) {

    &::after {
      align-items: center;
      color: inherit;
      content: '/';
      display: flex;
      padding-left: $nav-link-divide-padding;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    margin-left: 6px;

    .topic-link {
      padding: 0 $nav-link-divide-padding 5px;
    }
  }
}

.current {
  padding: 0 12px;
}

.topic-link {
  font-family: $ubuntu;
  line-height: $nav-link-line-height;
  padding: 6px;

  &:not(.current-link) {
    color: $nav-link-color;
  }

  &:hover {
    background-color: lighten($nav-link-color, 5%);
    color: $white;
  }
}

.current-link {
  color: $white;
  position: relative;
  width: $width;

  &::before {
    background-color: $nav-link-color;
    content: '';
    height: calc(#{$height} - 5px);
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(0% , 5%)scaleX(1);
    transition: .3s ease;
    width: $width;
    z-index: -1;
  }

  &:hover {
    background-color: inherit;
  }
}

