@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix($body-color, $color, $percentage);
}

$blue: #6534ff;
$lightblue: tint($blue, 50);
$image-one: url('/img/jellyfish.jpg');


.purple {
  color: $nav-link-color;
}

.tint li {
  background: $blue;
  flex: 1 0 auto;
  $tint-num: 6;

  @for $i from 1 through $tint-num {
    &:nth-of-type(#{$i}) {
      background-color: tint($blue, ($i * 10%));
    }
  }
}

.shade li {
  background: $blue;
  flex: 1 0 auto;
  $shade-num: 6;

  @for $i from 1 through $shade-num {
    &:nth-of-type(#{$i}) {
      background-color: shade($blue, ($i * 10%));
    }
  }
}

.light-dark li {
  background-color: $blue;
  flex: 1 0 100%;
  $light-num: 6;
  $dark-num: 12;

  @for $i from 2 through $light-num {
    &:nth-of-type(#{$i}) {
     flex: 1 0 20%;
      background-color: lighten($blue, ($i * 2.5%));
    }
  }

  @for $i from 8 through $dark-num {
    &:nth-of-type(#{$i}) {
      flex: 1 0 20%;
      background-color: darken($blue, ($i * 2.5%));
    }
  }
}




.alternate-blend li {
  background-blend-mode: overlay;
  flex: 1 0 100%;
  flex-flow: row-reverse wrap;
  $light-num: 5;
  $dark-num: 10;

  @for $i from 1 through $light-num {
    &:nth-of-type(#{$i}) {
      flex: 1 0 20%;
      background: $image-one lighten($blue, ($i * 2.5%)) center center / cover no-repeat;
    }
  }

  @for $i from 6 through $dark-num {
    &:nth-of-type(#{$i}) {
      flex: 1 0 20%;
      background: $image-one darken($blue, ($i * 2.5%)) center center / cover no-repeat;
    }
  }
}

.combined li {
  background: $blue;
  flex: 1 0 auto;
  $tint-num: 6;

  @for $i from 1 through $tint-num {
    &:nth-of-type(#{$i}) {
      background-color: mix(darken($blue,($i * 8%)),lighten(#a00101,($i * 16%)));
    }
  }
}

.color-functions {
  display: flex;
  flex-flow: row wrap;

  ul {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto 50px;
    padding: 0;
    width: 100%;

    li {
      align-items: center;
      display: flex;
      box-sizing: border-box;
      height: 120px;
      list-style: none;
      justify-content: center;
      text-align: center;
      color: white;
    }
  }
}




