$image-max-height: 295px;
$insta-wrapper-max-width: 965px;
$backdrop1: #667eea;
$backdrop2: #764ba2;
$insta-quote-padding: 0 24px;
$author-padding: 0 24px;
$quote-width-height: 20px;
$loader-size: 40px;
$loader-animation-duration: 1.15s;
$insta-wrapper-min-height: 100px;
$insta-button-width: 130px;
$insta-button-padding: 12px;
$transition: all .17s cubic-bezier(.4, 0, 1, 1);

.insta-quote,
.quote-wrapper,
.author-wrapper {
  display: flex;
  width: $width;
}

.insta-quote {
  flex-flow: row wrap;
  margin: 0 auto 30px;
  max-width: $insta-wrapper-max-width;
  padding: $insta-quote-padding;
}

.quote-wrapper,
.author-wrapper {
  align-items: baseline;
  animation: fadeIn .3s ease-in-out;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  max-width: $insta-wrapper-max-width;

  span {
    color: $nav-link-color;
    display: flex;
    font-family: $ubuntu;
    font-size: 3.5rem;
  }
}

.quote-wrapper {

  span {
    font-family: $lora;

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      align-items: flex-end;
      order: 3;
    }
  }

  h3 {
    align-items: center;
    display: flex;
    flex-shrink: 3;
    font-size: $h5;
    order: 2;
    text-align: left;
  }
}

.author-wrapper {
  justify-content: flex-end;
  padding: $author-padding;

  .author {
    font-size: $h6;
    margin-left: auto;
    order: 4;
  }
}

.img-backdrop {
  background-image: linear-gradient(135deg, $backdrop1 0%, $backdrop2 $height);
  display: none;
  flex-flow: column wrap;
  height: $height;
  justify-content: center;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transition: background-image .3s ease;
  width: $width;
  z-index: 1;
}

.insta-caption {
  display: none;
  flex-flow: row wrap;
  padding: 0 24px;
  text-align: left;

  p {
    color: $white;
    font-size: $h4;
    line-height: 1.3;
  }
}

.insta-btn {
  background-color: transparent;
  border: solid 1px $nav-link-color;
  color: $nav-link-color;
  cursor: pointer;
  display: block;
  font-family: $ubuntu;
  margin: 0 auto 24px;
  outline: 0;
  padding: $insta-button-padding;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: $transition;
  width: $insta-button-width;

  &:hover {
    background-color: darken($nav-link-color, 2%);
    border: solid 1px darken($nav-link-color, 5%);
    color: $white;
  }

  &[disabled] {
    display: none;
  }
}
