$background: #f5f5f5;
$body-color: #3b444f;
$button-bg: #d5d6d6;
$hero-bg: #444343;
$feature: #297cbb;
$grey: #c0c0c0;
$purple: #bf538d;
$section-border: rgba(189, 206, 227, .47);
$radio-bg: #cbd9e4;
$underline: #fa5e5b;
$white: #fff;
