$tutorial-max-width: 640px;
$tutorial-content-margin: 20px;
$definition-max-width: 530px;
$reference-image-height: 220px;
$box-height: 40px;
$insta-max-width: 935px;

.tutorial-container,
.tutorial-definition-wrapper,
.tutorial-body,
.definition-wrapper,
.blend-list-title,
.blend-list-description,
.reference-image,
.box,
.codepen-wrapper {
  width: $width;
}

.tutorial-container,
.tutorial-definition-wrapper,
.tutorial-body,
.definition-wrapper,
.codepen-wrapper,
.definition-list,
.blend-list-title,
.blend-list-description,
.box {
  box-sizing: border-box;
}

.tutorial-container,
.tutorial-definition-wrapper,
.tutorial-body,
.definition-wrapper,
.codepen-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.tutorial-definition-wrapper,
.tutorial-paragraph,
.tutorial-link {
  font-family: $lora;
}

.tutorial-definition-wrapper,
.blend-list-description {
  background-color: $white;
}

.tutorial-container {
  background-color: $background-white;
  margin: auto;
  max-width: $tutorial-max-width;
  padding: $tutorial-content-margin;

  &.no-padding {
    max-width: $insta-max-width;
    padding: 0;
  }
}

.tutorial-definition-wrapper {
  justify-content: center;
  line-height: 1.1;
  margin: 0 auto $tutorial-content-margin;
  max-width: $definition-max-width;
  padding: $tutorial-content-margin;
  text-align: left;
}

.tutorial-paragraph {
  line-height: 1.2;
  margin-bottom: $tutorial-content-margin;

  & a {
    color: inherit;
  }
}

.underline-definition {
  border-bottom: 1px solid $nav-link-color;
  box-shadow: inset 0 -2px 0 $nav-link-color;
  font-family: $ubuntu;
  transition: background .1s cubic-bezier(.33, .66, .66, 1);

  &:hover {
    background-color: $nav-link-color;
    color: $white;
  }
}

.underline-definition + a {
  color: $white;

  &:hover {
    color: $white;
  }
}

.tutorial-link {
  color: $nav-link-color;
}

.tutorial-body {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 640px;
  overflow: hidden;
  padding: 20px;
  width: $width;
}

.definition-wrapper {
  justify-content: center;
  padding-top: 20px;
}

.tutorial-paragraph + .definition-wrapper {
  margin-bottom: 0;
}

.code-font {
  font-family: $source-code;
}

.definition-list {
  border-collapse: collapse;
  max-width: $definition-max-width;
  padding: 10px;
  table-layout: fixed;
  width: $width;

  td {
    color: $body-color;
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;

    &:nth-of-type(1) {
      color: $nav-link-color;
      font-family: $ubuntu;
      padding-left: 5px;
      text-align: left;
      vertical-align: text-top;
      width: 33%;
    }
  }

  span {
    font-family: $ubuntu;
  }
}

.author-link,
.definition-list-list-item {
  margin-bottom: 20px;
}

.author-link  {
  margin-bottom: 20px;
}

.blend-list-title {
  background-color: darken($nav-link-color, 3.5%);
  color: $white;
  margin: 0;
  padding: $tutorial-content-margin;
}

.blend-list-description {
  background-color: $white;
  line-height: 1.3;
  margin-bottom: $tutorial-content-margin;
  padding: $tutorial-content-margin 10px;
}

.reference-image {
  display: flex;
  height: $reference-image-height;
  margin: 0 auto $tutorial-content-margin;
  overflow: hidden;
  padding: 10px 0;

  img {
    display: block;
    height: auto;
    width: $width;
  }
}

.tutorial-section-heading {
  color: $nav-link-color;
  margin-bottom: $tutorial-content-margin;
  padding-top: 10px;

  code {
    font-family: $lora;
  }
}

.box {
  background-color: lighten($nav-link-color, 25%);
  display: block;
  height: $box-height;
  margin: $tutorial-content-margin 0;
}

.codepen-wrapper > div {
  width: $width;
}
