$example-hero-height: 240px;
$image-one: url('../img/bg50.jpg');
$image-two: url('../img/bg51.jpg');

.example-hero-container,
.example-hero,
.example-hero-multiple-blend {
  display: flex;
  height: $example-hero-height;
  justify-content: center;
  margin-bottom: 24px;
  position: relative;
  width: $width;
}

.example-hero-container {
  align-items: center;
  animation: blendTransition 56s ease infinite;
  background: $image-one lighten($nav-link-color, 25%) center center / cover no-repeat;
  background-blend-mode: screen;
  z-index: 1;
}

.caption {
  background-color: $white;
  bottom: 0;
  color: $nav-link-color;
  font-family: $lora;
  font-size: $h5;
  left: 0;
  padding: 12px;
  position: absolute;
  text-align: center;
  z-index: 2;

  &::after {
    animation: blend 56s ease infinite;
    color: $nav-link-color;
    content: '';
  }
}

.example-hero {
  background: $image-one center center / cover no-repeat;
  background-blend-mode: screen;
}

.example-hero-multiple-blend {
  animation: multipleBlendTransition 56s ease-in-out infinite;
  background: $image-one, $image-two lighten($nav-link-color, 25%) center center / cover no-repeat;
  background-blend-mode: screen, darken;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px 0;
  width: $width;
}

@keyframes blendTransition {
  0% { background-blend-mode: normal; }
  6.25% {background-blend-mode: multiply; }
  12.5% { background-blend-mode: screen; }
  18.75% { background-blend-mode: overlay; }
  25% { background-blend-mode: darken; }
  31.25% { background-blend-mode: lighten; }
  37.5% { background-blend-mode: color-dodge; }
  43.75% { background-blend-mode: color-burn; }
  50% { background-blend-mode: hard-light; }
  56.25% { background-blend-mode: soft-light; }
  62.5% { background-blend-mode: difference; }
  68.75% { background-blend-mode: exclusion; }
  75% { background-blend-mode: hue; }
  81.25% { background-blend-mode: saturation; }
  87.5% { background-blend-mode: color; }
  93.75% { background-blend-mode: luminosity; }
  100% {background-blend-mode: normal;}
}

@keyframes multipleBlendTransition {
  0% { background-blend-mode: normal, screen; }
  12.5% { background-blend-mode: screen, multiply; }
  25% { background-blend-mode: overlay, darken; }
  32.5% { background-blend-mode: lighten, color-dodge; }
  44% { background-blend-mode: color-burn, hard-light; }
  56.5% { background-blend-mode: soft-light, difference; }
  69% { background-blend-mode: exclusion, hue; }
  81.5% { background-blend-mode: saturation, color; }
  94% { background-blend-mode: luminosity, normal; }
  100% {background-blend-mode: normal, luminosity;}
}

@keyframes blend {
  0% { content: 'normal'; }
  6.25% { content: 'multiply'; }
  12.5% { content: 'screen'; }
  18.75% { content: 'overlay'; }
  25% { content: 'darken'; }
  31.25% { content: 'lighten'; }
  37.5% { content: 'color-dodge'; }
  43.75% { content: 'color-burn'; }
  50% { content: 'hard-light'; }
  56.25% { content: 'soft-light'; }
  62.5% { content: 'difference'; }
  68.75% { content: 'exclusion'; }
  75% { content: 'hue'; }
  81.25% { content: 'saturation'; }
  87.5% { content: 'color'; }
  93.75% { content: 'luminosity'; }
  100% {content: 'unset';}
}

