$img1: url('../img/garcia-win.jpeg');
$img2: url('../img/garcia-trophy.jpg');


$augusta-green: #197b50;
$bg-green: #c7f464;
$augusta-yellow: #fff000;

$img-circle-width-height: 100px;
$img-circle-font-size: 5rem;

$article-heading: 'Old Standard TT', serif;

$large-break: 980px;
$medium-break: 750px;

$medium-img-height: 280px;


.grid-header {
  align-self: flex-end;
  display: grid;
  grid-column: 1 / span 4;
  grid-template-columns: repeat(4, minmax(25%, 1fr));
  padding: 6px 12px;

  h1 {
    display: flex;
    flex: 0 1 33%;
    font-family: $article-heading;
    font-size: 1rem;

    &:first-child {
      justify-content: center;
    }

    &:nth-of-type(2) {
      grid-column: 2 / span 2;
      justify-content: center;
    }

    span {
      color: $augusta-green;
    }
  }
}

.stats {
  grid-column: 1 / span 4;
  grid-row: 3;
}

.stat-list {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 1.7rem 0;
  padding: 0;

  @media(max-width: 550px) {
    .stat {
      margin-bottom: 24px;
      width: 150px;

      &:last-of-type {
        padding-top: 12px;
      }
    }
  }
}

.stat {
  border-bottom: 6px solid $augusta-green;
  display: inline-block;
  padding: 0 0 12px;
}

.stat-number,
.stat-label {
  color: $grey;
  display: block;
  font-family: $article-heading;
  font-weight: 700;
  text-align: center;
}

.stat-number {
  font-size: 3rem;
  margin-bottom: 12px;
}

.stat-label {
  font-size: 1.5rem;
}

.quote {
  align-self: baseline;
  background-color: $augusta-green;
  color: $white;
  font-family: $article-heading;
  font-size: $h3;
  font-weight: 700;
  line-height: 1.2;
  padding: 24px 12px;
}

.grid-blurb {
  display: flex;
  flex-flow: row wrap;
  font-size: .8rem;
  padding: 12px;

  &:nth-of-type(3) {
    grid-column: 3 / span 2;
    grid-row: 2;

    p {
      &:nth-of-type(1) {
        &::first-letter {
          font-size: 3rem;
          margin-right: 4px;
        }
      }
    }
  }

  &:last-of-type {
    grid-column: 3 / span 2;
  }
}


.img1,
.img2 {
  background-blend-mode: darken;
  filter: grayscale(60%);
  position: relative;

  h1 {
    background-color: $augusta-green;
    color: $augusta-yellow;
    font-family: $ubuntu;
    font-size: $h1;
    mix-blend-mode: hard-light;
    padding: 12px;
  }
}

.img1 {
  background: $img1 $bg-green center center / cover no-repeat;
  border: 6px solid $augusta-yellow;
  grid-column: 1 / span 2;
  grid-row: 2;

  &::after {
    align-items: center;
    background: $augusta-yellow;
    border-radius: 100%;
    bottom: 40px;
    box-sizing: border-box;
    color: $augusta-green;
    content: '-9';
    display: flex;
    font-size: $img-circle-font-size;
    height: $img-circle-width-height;
    justify-content: flex-start;
    left: 12px;
    mix-blend-mode: screen;
    position: absolute;
    width: $img-circle-width-height;
  }

  h1 {
    align-self: flex-end;
    margin-left: 110px;
  }
}

.img2 {
  background: $img2 $bg-green center center / cover no-repeat;
  border: 12px solid $augusta-yellow;
  font-size: large;
  grid-column: 3 / span 2;
  grid-row: 4;

  &::after {
    align-items: center;
    background: $augusta-yellow;
    border-radius: 100%;
    bottom: 40px;
    box-sizing: border-box;
    color: $augusta-green;
    content: '74';
    display: flex;
    font-size: $img-circle-font-size;
    height: $img-circle-width-height;
    justify-content: center;
    left: 12px;
    mix-blend-mode: screen;
    position: absolute;
    text-align: center;
    top: 40px;
    width: $img-circle-width-height;
  }

  h1 {
    align-self: flex-start;
    margin-left: 110px;
    margin-top: 50px;
  }
}


.grid {
  display: grid;
  grid-gap: 48px;
  grid-template-columns: repeat(3, minmax(20%, 33%));
  grid-template-rows: 60px repeat(4, auto);

  h2 {
    border-bottom: 6px solid $augusta-green;
    border-top: 6px solid $augusta-green;
    font-family: $article-heading;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0 0 24px;
    padding-bottom: 12px;
    padding-top: 24px;
  }
}

@media (max-width: $medium-break) {

  .grid {
    align-items: baseline;
  }

  .grid-blurb {
    display: flex;
    flex-flow: row wrap;
    font-size: .8rem;
    grid-column: 1 / span 4;
    padding: 0 24px;

    &:nth-of-type(3) {
      grid-column: 1 / span 4;
    }

    &:nth-of-type(2) {
      grid-row: 4;
    }

    &:last-of-type {
      grid-column: 1 / span 4;
    }
  }

  .img1 {
    grid-column: 1 / span 4;
    grid-row: 2;
    height: $medium-img-height;

    &::after {
      bottom: 24px;
    }
  }

  .img2 {
    grid-column: 1 / span 4;
    grid-row: 8;
    height: $medium-img-height;
  }

  .grid-header {
    justify-content: center;
  }

  .quote {
    margin: 24px auto;
  }
}

@media (min-width: $large-break) {
  .grid {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

