.search-beers-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: $width;
}

.search-beers {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 24px 12px;
  width: $width;
}

.search-box-wrapper,
.filter-button-wrapper {
  width: 90%;
}

.search-box-wrapper,
.filter-button-wrapper,
.search-button-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
  order: 1;
}

.search-button-wrapper {
  margin-left: auto;
}

.filter-button-wrapper {
  padding-top: 48px;
}

.nested-form-options {
  display: flex;
  flex-flow: row wrap;
  margin: 60px 0;
  order: 2;
  width: $width;
}

.option-type {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}

.nested-form-heading {
  font-weight: 700;
}

.nested-buttons {
  display: flex;
  flex-flow: row wrap;
}
