$post-separator: 5px;
$homepage-padding: 0 20px;

.home-posts {
  padding: $homepage-padding;
}

.post-container {
  display: flex;
  flex: 0 0 50%;
  padding: 0 $post-separator 0 0;
}


.post {
  &:nth-child(2n) {
    padding-left: $post-separator;
    padding-right: 0;
  }
}

.svg-wrapper {
  width: 20%;
}

.tag-wrapper,
.date-wrapper {
  width: 80%;
}
