$post-separator: 12px;
$homepage-padding: 12px;

.home-posts {
  padding: $homepage-padding;
}

.post-container {
  flex: 0 0 50%;
  padding: 0 $post-separator 0 0;

  &:nth-of-type(2n) {
    padding-left: 0;
    padding-right: 0;
  }
}

.svg-wrapper {
  width: 20%;
}

.tag-wrapper,
.date-wrapper {
  width: 80%;
}
