$homepage-max-width: 900px;
$homepage-padding: 0 20px;
$post-separator: 5px;
$post-padding: 20px;
$post-icon-height: 50px;

.home-posts,
.post-wrapper,
.post,
.post-body,
.post-content,
.post-icon,
.post-footer,
.post-details,
.tag-details {
  box-sizing: border-box;
  display: flex;
}

.home-posts,
.post-wrapper,
.post-content,
.post-body,
.post-footer {
  width: $width;
}

.post-details,
.tag-details {
  align-items: center;
  justify-content: flex-start;
}

.svg-wrapper,
.tag-wrapper {
  align-items: stretch;
}

.home-posts {
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: $homepage-max-width;
}

.post-body {
  order: 1;
}

.post-wrapper {
  color: $white;
  flex-flow: row wrap;
  margin-bottom: $post-padding;
  overflow: hidden;
  padding: $post-padding;
}

.post-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 $width;
  margin-bottom: 24px;

  &:nth-of-type(odd) {
    .post {
      background-color: lighten($nav-link-color, 2%);
    }
  }

  &:nth-child(4n) {
    .post {
      background-color: darken($nav-link-color, 2%);
    }
  }

}

.post {
  background-color: darken($nav-link-color, 2%);
  flex: 1;
  justify-content: center;

  a {
    text-decoration: none;
  }
}

.content-title {
  margin-bottom: 20px;
  position: relative;

  &::after {
    background-color: $white;
    content: '';
    display: block;
    height: 2px;
    margin: 20px auto 0;
    width: 60px;
  }
}

.post-content {
  align-items: center;
  flex-flow: column wrap;
  height: $height;
  justify-content: center;

  h2 {
    text-align: center;
  }
}

.post-content-body > h5 {
  font-family: $lora;
}

.post-icon {
  flex-flow: row nowrap;
  height: $post-icon-height;
  justify-content: center;
  margin-bottom: 20px;

  svg {
    fill: $white;
    height: $height;
    width: $width;
  }
}

.title {
  text-align: center;
}
