$homepage-max-width: 56.25rem;
$homepage-padding: 0 24px;
$post-separator: 6px;
$post-padding: 24px;
$post-icon-height: 48px;
$post-num: 20;

.home-posts,
.post-wrapper,
.post-container,
.post,
.post-body,
.post-content,
.post-icon {
  display: flex
}

.home-posts,
.post-wrapper,
.post-footer {
  width: $width;
}

.home-posts {
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: $post-padding auto;
  max-width: $homepage-max-width;
}

.post-wrapper {
  color: $white;
  flex-flow: row wrap;
  overflow: hidden;
  padding: $post-padding;
}

.post-container {
  flex: 0 0 $width;
  margin-bottom: $post-padding;

  &:nth-of-type(2n) {
    .post {
      background-color: lighten($pink, 10%);
    }
  }
}

.post {
  background-color: lighten($nav-link-color, 10%);
  flex: 1;
  justify-content: center;
}

.content-title {
  margin-bottom: $post-padding;
  position: relative;

  &::after {
    background-color: $white;
    content: '';
    display: block;
    height: 2px;
    margin: $post-padding auto 0;
    width: 60px;
  }
}

.post-content {
  align-items: center;
  flex-flow: column wrap;
}

.post-content-body {
  flex: 1;
}

.post-icon {
  flex-flow: row nowrap;
  height: $post-icon-height;
  justify-content: center;
  margin-bottom: $post-padding;

  svg {
    fill: $white;
    height: $height;
    width: $width;
  }
}

